<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owl.wifi.web.dao.ShopCameraMapper">
	<resultMap id="BaseResultMap" type="com.owl.wifi.web.entity.ShopCamera">
		<id column="shop_camera_id" jdbcType="INTEGER" property="shopCameraId" />
		<result column="shop_id" jdbcType="INTEGER" property="shopId" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="install_date" jdbcType="DATE" property="installDate" />
		<result column="active_ind" jdbcType="TINYINT" property="activeInd" />
		<result column="active_start_time" jdbcType="TIME" property="activeStartTime" />
		<result column="active_end_time" jdbcType="TIME" property="activeEndTime" />
		<result column="camera_hardware_version" jdbcType="VARCHAR"
			property="cameraHardwareVersion" />
		<result column="camera_software_version" jdbcType="VARCHAR"
			property="cameraSoftwareVersion" />
	</resultMap>
	<sql id="Base_Column_List">
		shop_camera_id, shop_id, device_id, install_date,
		active_ind, active_start_time,
		active_end_time,
		camera_hardware_version, camera_software_version
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_shop_camera
		where shop_camera_id =
		#{shopCameraId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_shop_camera
		where shop_camera_id = #{shopCameraId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.owl.wifi.web.entity.ShopCamera">
		insert into t_shop_camera
		(shop_id, device_id,
		install_date, active_ind, active_start_time,
		active_end_time, camera_hardware_version, camera_software_version
		)
		values (#{shopId,jdbcType=INTEGER},
		#{deviceId,jdbcType=VARCHAR},
		#{installDate,jdbcType=DATE}, #{activeInd,jdbcType=TINYINT},
		#{activeStartTime,jdbcType=TIME},
		#{activeEndTime,jdbcType=TIME},
		#{cameraHardwareVersion,jdbcType=VARCHAR},
		#{cameraSoftwareVersion,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.owl.wifi.web.entity.ShopCamera">
		update t_shop_camera
		<set>
			<if test="shopId != null">
				shop_id = #{shopId,jdbcType=INTEGER},
			</if>
			<if test="deviceId != null">
				device_id = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="installDate != null">
				install_date = #{installDate,jdbcType=DATE},
			</if>
			<if test="activeInd != null">
				active_ind = #{activeInd,jdbcType=TINYINT},
			</if>
			<if test="activeStartTime != null">
				active_start_time = #{activeStartTime,jdbcType=TIME},
			</if>
			<if test="activeEndTime != null">
				active_end_time = #{activeEndTime,jdbcType=TIME},
			</if>
			<if test="cameraHardwareVersion != null">
				camera_hardware_version =
				#{cameraHardwareVersion,jdbcType=VARCHAR},
			</if>
			<if test="cameraSoftwareVersion != null">
				camera_software_version =
				#{cameraSoftwareVersion,jdbcType=VARCHAR},
			</if>
		</set>
		where shop_camera_id = #{shopCameraId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.owl.wifi.web.entity.ShopCamera">
		update
		t_shop_camera
		set shop_id = #{shopId,jdbcType=INTEGER},
		device_id =
		#{deviceId,jdbcType=VARCHAR},
		install_date =
		#{installDate,jdbcType=DATE},
		active_ind =
		#{activeInd,jdbcType=TINYINT},
		active_start_time =
		#{activeStartTime,jdbcType=TIME},
		active_end_time =
		#{activeEndTime,jdbcType=TIME},
		camera_hardware_version =
		#{cameraHardwareVersion,jdbcType=VARCHAR},
		camera_software_version =
		#{cameraSoftwareVersion,jdbcType=VARCHAR}
		where shop_camera_id =
		#{shopCameraId,jdbcType=INTEGER}
	</update>
    <select id="countByParam" resultType="int" >
        select
        count(*)
        from t_shop_camera
            <where>
            <if test="device_id!=null and device_id!=''">
                and   device_id = #{device_id}
            </if>
            <if test="shopIds!=null">
                and shop_id in
                <foreach item="item" index="index" collection="shopIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="findByParam" resultMap="BaseResultMap" >
        select * from t_shop_camera
            <where>
            <if test="device_id!=null and device_id!=''">
                and   device_id = #{device_id}
            </if>
            <if test="shopIds!=null">
                and shop_id in
                <foreach item="item" index="index" collection="shopIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
        <if test="startRow!=null">
            limit #{startRow},#{pageSize}
        </if>
    </select>
</mapper>