<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.owl.wifi.web.dao.TalkingdataLocationMapper" >
  <resultMap id="BaseResultMap" type="com.owl.wifi.web.entity.TalkingdataLocation" >
    <id column="mac" property="mac" jdbcType="CHAR" />
    <result column="tdid" property="tdid" jdbcType="CHAR" />
    <result column="latlng" property="latlng" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    mac, tdid, latlng
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_talkingdata_tag_loc_office_latlng
    where mac = #{mac,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_talkingdata_tag_loc_office_latlng
    where mac = #{mac,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.owl.wifi.web.entity.TalkingdataLocation" >
    insert into t_talkingdata_tag_loc_office_latlng (mac, tdid, latlng)
    values (#{mac,jdbcType=CHAR}, #{tdid,jdbcType=CHAR}, #{latlng,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.owl.wifi.web.entity.TalkingdataLocation" >
    insert into t_talkingdata_tag_loc_office_latlng
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mac != null" >
        mac,
      </if>
      <if test="tdid != null" >
        tdid,
      </if>
      <if test="latlng != null" >
        latlng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mac != null" >
        #{mac,jdbcType=CHAR},
      </if>
      <if test="tdid != null" >
        #{tdid,jdbcType=CHAR},
      </if>
      <if test="latlng != null" >
        #{latlng,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.owl.wifi.web.entity.TalkingdataLocation" >
    update t_talkingdata_tag_loc_office_latlng
    <set >
      <if test="tdid != null" >
        tdid = #{tdid,jdbcType=CHAR},
      </if>
      <if test="latlng != null" >
        latlng = #{latlng,jdbcType=VARCHAR},
      </if>
    </set>
    where mac = #{mac,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.owl.wifi.web.entity.TalkingdataLocation" >
    update t_talkingdata_tag_loc_office_latlng
    set tdid = #{tdid,jdbcType=CHAR},
      latlng = #{latlng,jdbcType=VARCHAR}
    where mac = #{mac,jdbcType=CHAR}
  </update>
</mapper>