<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->

	<link rel="stylesheet" href="bootstrapvalidator-master/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="bootstrapvalidator-master/dist/css/bootstrapValidator.css"/>
    <link rel="stylesheet" href="vendors/layui/css/layui.css"/>
    <link rel="stylesheet" href="vendors/layer/skin/layer.css"/>
    <link rel="stylesheet" type="text/css" href="css/systemA.css" />
    <link rel="icon" href="images/favicon.ico"/>
    <script type="text/javascript" src="bootstrapvalidator-master/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="common/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="bootstrapvalidator-master/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrapvalidator-master/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="vendors/layer/layer.js"></script>
    <script type="text/javascript" src="common/owl.js"></script> 
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=136a0c1063fcd5642df9618ddf29a973"></script>
    <script type="text/javascript" src="common/bmap.js"></script> 

<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?134c98453bebb63118c0338599528041";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


    <![endif]-->
<title>猫投鹰大数据精准营销系统</title>
<meta name="keywords" content="猫投鹰,客流,客流统计系统"/>
<meta name="description" content="猫投鹰客流统计系统"/>
</head>
<body>
	<div class="container wrapper">
		<div class="dialog">
			  <div class="card">
			
			    <div class="card-block">
			      <div style="margin: 0 -15px;">
			        
			      </div>
			      <form role="form" class="new_user" id="new_shop" action="" accept-charset="UTF-8" method="post">
				    <div class="form-group">
				        <div class="row">
						   <div class="col-xs-6 col-sm-6 col-md-6">
								 <label class="form-control-label required">门店名称</label>
				        		<input  class="form-control" type="text" value="" name="shopName" />
						   </div>
						   <div class="col-xs-6 col-md-6">
								<label class="form-control-label required">所属行业</label>
					        	
							      <select id="industry" name="industryId" class="form-control">
							      </select>
							      <script id="industryTemplate" type="text/x-jquery-tmpl"> 
						{{each(i,industry) dataList}}
 							<option value="{{= industryId}}">{{= name}}</option>
						{{/each}}
						</script> 
					        	
					        	
					        	
					        	
						   </div>
						</div>
				    </div>
				    <div class="form-group">
					    <div class="row">
						   <div class="col-xs-6 col-sm-6 col-md-6">
								<label class="form-control-label required">营业开始时间</label>
					        	<select id="businessStartTime" name="businessStarttime" class="form-control">
					        		<option value="0">00:00</option>
					        		<option value="1">01:00</option>
					        		<option value="2">02:00</option>
					        		<option value="3">03:00</option>
					        		<option value="4">04:00</option>
					        		<option value="5">05:00</option>
					        		<option value="6">06:00</option>
					        		<option value="7">07:00</option>
					        		<option value="8">08:00</option>
					        		<option value="9">09:00</option>
					        		<option value="10">10:00</option>
					        		<option value="11">11:00</option>
					        		<option value="12">12:00</option>
					        		<option value="13">13:00</option>
					        		<option value="15">15:00</option>
					        		<option value="16">16:00</option>
					        		<option value="17">17:00</option>
					        		<option value="18">18:00</option>
					        		<option value="19">19:00</option>
					        		<option value="20">20:00</option>
					        		<option value="21">21:00</option>
					        		<option value="22">22:00</option>
					        		<option value="23">23:00</option>
							    </select>
						   </div>
						   <div class="col-xs-6 col-md-6">
								<label class="form-control-label required">营业结束时间</label>
					        	<select id="businessEndTime" name="businessEndtime" class="form-control">
					        		<option value="0">00:00</option>
					        		<option value="1">01:00</option>
					        		<option value="2">02:00</option>
					        		<option value="3">03:00</option>
					        		<option value="4">04:00</option>
					        		<option value="5">05:00</option>
					        		<option value="6">06:00</option>
					        		<option value="7">07:00</option>
					        		<option value="8">08:00</option>
					        		<option value="9">09:00</option>
					        		<option value="10">10:00</option>
					        		<option value="11">11:00</option>
					        		<option value="12">12:00</option>
					        		<option value="13">13:00</option>
					        		<option value="15">15:00</option>
					        		<option value="16">16:00</option>
					        		<option value="17">17:00</option>
					        		<option value="18">18:00</option>
					        		<option value="19">19:00</option>
					        		<option value="20">20:00</option>
					        		<option value="21">21:00</option>
					        		<option value="22">22:00</option>
					        		<option value="23">23:00</option>
							    </select>
						   </div>
						</div>
				    </div>
				    <div class="form-group">
					    <div class="row">
						   <div class="col-xs-6 col-sm-6 col-md-6">
								<label class="form-control-label required">联系人</label>
					        	<input  class="form-control" type="text" value="" name="contact" />
						   </div>
						   <div class="col-xs-6 col-md-6">
								<label class="form-control-label required">联系电话</label>
					        	<input  class="form-control" type="text" value="" name="tel" />
						   </div>
						</div>
				    </div>
				     <div class="form-group">
					     <div class="row">
							   <div class="col-xs-7 col-sm-7 col-md-7">
									<label class="form-control-label required">详细地址</label>
						        	<input  class="form-control" type="text" value="" name="address" />
							   </div>
							   <div class="col-xs-5 col-md-5">
									<label class="form-control-label required">经纬度</label>
						        	<input  class="form-control" id="latlng" type="text" value="" name="latlng" style="padding-right: 0px;"/>
							   </div>
							</div>
				    </div>
				    
				    <div id="allMap"></div>
				    
				    <div class="form-group">
					    <input type="submit" name="submit" value="提交" class="btn btn-primary" data-disable-with="提交"/>
				    </div>
				  
				</form>    
				</div>
			  </div>
			</div>
	</div>



<script type="text/javascript">
	$(function(){
		
		var bmap = bmapObj.initMap("allMap",12,114.032024,22.587571);
		bmap.addEventListener("click", function(e){
			bmap.clearOverlays(); 
			var text = ""+e.point.lng+", "+e.point.lat;
			$("#latlng").val(text);
			var marker = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));
			bmap.addOverlay(marker);
		});
		
		var page=1;
		var pageSize=20;
		var pageCount=1;
		var param={};
		param.page=page;
		param.pageSize=pageSize;
		owl.ajaxRequest("/industry.do",param,function(e){
			$("#industry").empty("");
			$("#industryTemplate").tmpl( e.data ).appendTo("#industry");	
		});	
		
		
		$('#new_shop')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            	shopName: {
                    validators: {
                        notEmpty: {
                            message: '店铺名字不能为空'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();
            // Get the form instance
            var $form = $(e.target);
            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');
            // Use Ajax to submit form data
            $.post(getBasePath()+"/addshop.do", $form.serialize(), function(result) {
               /*  console.log(result); */
                if(result.status == 10000){
                	window.top.location=getBasePath()+"/shopPage.do"; 
                }else{
                	layer.msg("添加门店错误！")
                }
            }, 'json'); 
        });
	});

</script>



</body>
</html>